@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
