@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/butler_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jaapokki';
  src: url('./fonts/jaapokki-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

